{% extends "clinica/layout.html" %}

{% block body %}
<h1>Pacientes que no asistieron a los turnos</h1>


<p>Filtrar pacientes por fecha:</p>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
      <label for="{{ field.name }}">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    <input type="submit">
</form>
{{mensaje}}
<ul>
{% for turno in turnos %}
<li>El paciente {{turno.paciente}} tiene turno el dia {{turno.dia}} a las {{turno.hora}} con el doctor {{turno.medico}}. Asistencia al turno: {{turno.asistio}}</li>
{% endfor %}
</ul>
<div class="d-flex align-items-center">
<a class="btn btn-info text-light btn-sm mb-3 mx-auto" href="{% url 'usuarios:index' %}">Home</a>
</div>
{% endblock %}