{% extends "clinica/layout.html" %}

{% block body %}
<h1>Cargar producto nuevo:</h1>

<a href="{% url 'clinica:cargar_producto_lente' %}">Cargar lente</a>

<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
      <label for="{{ field.name }}">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    <input type="submit">
</form>
<a href="{% url 'usuarios:index' %}">Menu principal</a>
<a href="{% url 'clinica:productos' %}">Listado de productos</a>
{% endblock %}