{% extends "clinica/layout.html" %}

{% block body %}

<div class="container d-flex flex-column align-items-center">
<h3 class="text-info">Cargar producto nuevo</h3>
<form  class = "w-75 form-group " method="post"> 
    {% csrf_token %}
    {% for field in form %}
    <div>
      <label for="{{ field.name }}">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
   <div class="d-flex align-items-center">
    <input class="btn btn-info mt-3 mx-auto" value="Cargar" type="submit">
    </div>
</form>
<div class="d-flex align-items-center">
<a class="btn btn-info text-light btn-sm m-3" href="{% url 'clinica:cargar_producto_lente' %}">Cargar lente</a>
<a class="btn btn-info text-light btn-sm m-3" href="{% url 'usuarios:index' %}">Home</a>
</div>
</div>
{% endblock %}
