{% extends "clinica/layout.html" %}

{% block body %}
<h1>Modificar estado de pedidos:</h1>

{% if request.user.is_taller %}
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
      <label for="{{ field.name }}">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    <input type="submit">
</form>
{% endif %}
<div class="d-flex align-items-center">
<a class="btn btn-info text-light btn-sm mb-3 mx-auto" href="{% url 'usuarios:index' %}">Home</a>
</div>
{% endblock %}