{% extends "clinica/layout.html" %}
{% load static %}
{% block body %}
<div class="container container-fluid d-flex flex-column align-items-center">
{% if request.user.username %}
<div class="d-flex align-items-center  mb-4">
<a class="btn btn-info text-light btn-lg mx-auto" href="{% url 'usuarios:index' %}">Home</a>
</div>
{% else %}
<div class = " text-light d-flex align-items-center mb-4">
<a class="btn btn-info btn-lg  mx-auto" href="{% url 'usuarios:login' %}">Iniciar sesión</a>
</div>
{% endif %}
<img src="https://img2.rtve.es/v/3250958?w=1600&preview=1439897612002.jpg" class="img-fluid w-100 my-3" alt="Responsive image">
</div>
{% endblock %}
