
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/clinica.css' %}">
<title>Clinica</title>
</head>
<body>
<<div class="jumbotron jumbotron-fluid bg-warning d-flex">
<h1 class="display-4 text-danger mx-auto">Clínica de Optometría Polotic</h1>
</div>
<div class="d-flex align-items-center">
<a class="btn btn-warning text-danger btn-lg mb-3 mx-auto" href="{% url 'usuarios:index' %}">Menu principal</a>
</div>
<hr>
{% block body %}
{% endblock %}
{% bootstrap_javascript jquery='full' %}
</body>
</html>