{% extends "clinica/layout.html" %}

{% block body %}
<h1>{{titulo}}</h1>

<a href="{% url 'admin:index' %}">Modificar o eliminar productos</a>

<ul>
{% for producto in productos %}
<li>Codigo: {{producto.id}}. Nombre: {{producto.nombre_producto}}. Precio: ${{producto.precio}}. Vision lente: {{producto.lejos_cerca}}. Lado lente: {{producto.izquierda_derecha}}. Armazon: {{producto.armazon}}</li>
{% endfor %}
</ul>

<div class="d-flex align-items-center">
<a class="btn btn-info text-light btn-sm mb-3 mx-auto" href="{% url 'usuarios:index' %}">Home</a>
</div>
{% endblock %}