{% extends "clinica/layout.html" %}

{% block body %}
<div class="container d-flex flex-column align-items-center">
<h1>{{titulo}}</h1>

<form  class = "w-75 form-group " method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
      <label for="{{ field.name }}">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    <div class="d-flex align-items-center">
    <input class="btn btn-info mt-3 mx-auto" value = "Filtrar" type="submit">
    </div>
</form>

<div class="table-responsive">
  <table class="table" id ="tabla">
    <thead>
    <tr>
      <th scope="col">Paciente</th>
      <th scope="col">Dia</th>
      <th scope="col">Hora</th>
      <th scope="col">Medico</th>
      <th scope="col">Asistio</th>
    </tr>
  </thead>
  <tbody>
{% for turno in turnos %}
<tr>
      <td>{{turno.paciente}}</td> <td>{{turno.dia}}</td> <td>{{turno.hora}}</td> <td>{{turno.medico}}</td> <td>{{turno.asistio}}</td>
</tr>
{% endfor %}
  </table>
</div>

</div>
{% endblock %}