footer {
    padding: 10px 10px 0 10px;
    background-color: lightblue;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 10px !important;
}


@media screen and (min-width: 770px) {
    a,
    p,
    li, td, th {
        font-size: 18px !important;
    }
    h4 {
        font-size: 27px !important;
    }
    h1 {
        margin-top: 1px !important;
        font-size: 50px !important;
    }
}

@media screen and (max-width: 770px) {
    a,
    p,
    li, td, th {
        font-size: 12px !important;
    }
    h4 {
        font-size: 18px !important;
    }
    h1 {
        margin-top: 1px !important;
        font-size: 25px !important;
    }
}