{% extends "usuarios/layout.html" %}
{% block body %}
<div class="container d-flex flex-column align-items-center">
<p class="h3 mx-auto">Iniciar sesión</p>
{% if mensaje %}
<div>{{ mensaje }}</div>
{% endif %}
<form action="{% url 'usuarios:login' %}" method="post">
{% csrf_token %}
<input type="text", name="username", placeholder="Username">
<input type="password", name="password", placeholder="Password">
<input type="submit", value="Login">
</form>
<a href="{% url 'clinica:index' %}">Home</a>
</div>
{% endblock %}