{% extends "usuarios/layout.html" %}
{% block body %}
<div class="container d-flex flex-column align-items-center">

{% if request.user.is_superuser %}

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
<h4 class="mr-5 text-white-50">Menú</h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto flex-column">
    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Gestionar sitio</a></li>
</ul>
</div>
</nav>

{% endif %}

{% if request.user.is_secretaria %}

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
<h4 class="mr-5 text-white-50">Menú</h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto flex-column">
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:generar_turno' %}">Generar turno</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Editar o eliminar turnos</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:turnos' %}">Consultar turnos</a>
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:crear_paciente' %}">Crear nuevo paciente</a></li>
</ul>

</nav>
</div>
{% endif %}

{% if request.user.is_medico %}
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
<h4 class="mr-5 text-white-50">Menú</h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto flex-column">
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:turnos' %}">Consultar turnos</a></li>
    <li class="nav-item"><a class="nav-link"  href="{% url 'clinica:pacientes' %}">Consultar historial medico por paciente</a></li>
    <li class="nav-item"><a class="nav-link"  href="{% url 'clinica:comentario_medico' %}">Cargar datos al historial medico</a></li>
    <li class="nav-item"><a class="nav-link"  href="{% url 'admin:index' %}">Editar o eliminar historiales médicos</a></li>
</ul>
</div>
</nav>
{% endif %}

{% if request.user.is_vendedor %}
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
<h4 class="mr-5 text-white-50">Menú</h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto flex-column">
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:cargar_producto' %}">Cargar nuevo producto</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:productos' %}">Listado de productos</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Modificar o eliminar productos</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:hacer_pedido' %}">Hacer nuevo pedido</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:pedidos' %}">Listado de pedidos</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:editar_pedido_vendedor' %}">Cambiar estado pedidos</a></li>
</ul>
</div>
</nav>
{% endif %}

{% if request.user.is_taller %}
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
<h4 class="mr-5 text-white-50">Menú</h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto flex-column">
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:pedidos' %}">Listado de pedidos</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:editar_pedido_taller' %}">Cambiar estado de pedidos</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Eliminar pedidos</a></li>
</ul>
</div>
</nav>
{% endif %}

{% if request.user.is_gerencia %}

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
<h4 class="mr-5 text-white-50">Menú</h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">

<ul class="navbar-nav mr-auto flex-column">

    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Ver todos los datos</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:asistencia_paciente_turno' %}">Pacientes que asistieron a los turnos en la semana/mes</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:ausencia_paciente_turno' %}">Pacientes que no asistieron a los turnos en la semana/mes</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:pedidos' %}">Pacientes que hicieron por lo menos un Pedido en la semana/mes</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:productos_mas_vendidos' %}">Productos más vendidos en el mes</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'clinica:total_vendedor' %}">Ventas totales por mes clasificadas por Vendedores</a></li>
</ul>
</div>
</nav>
{% endif %}
</div>
<div class="container d-flex flex-column align-items-center mt-3">
<ul class="list-group">
<li class="list-group-item text-info">Username: {{ request.user.username }}</li>
<li class="list-group-item text-info">Nombre: {{ request.user.first_name }} {{ request.user.last_name }}</li>
<li class="list-group-item text-info">Email: {{ request.user.email }}</li>
</ul>
<a class="m-3 btn btn-info btn-sm bg-danger" href="{% url 'usuarios:logout' %}">Desconectarse</a>
</div>
{% endblock %}